.barContainer {
  /* background-image: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  color: white;
  background-color: rgba(128, 128, 128, 0.474);
  transition: all 0.5s ease;
}

.barContainer:hover {
  /* background-image: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  background-color: rgba(184, 184, 184, 0.474);
  transition: all 0.5s ease;
}

.barItem:hover {
  background: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}

.active {
  margin-top: 0px;
  transition: all 0.3s ease-in-out;
}