
/* .content_section {
  width: 100%;
  height: 100vh;
  background-image: url(https://v3.cdnpk.net/videvo_files/video/free/2016-03/large_watermarked/Hologram_Planet_by_nuva_preview.mp4);
  background-repeat: no-repeat, repeat;
  background-position: center;
} */