.sidebar_title:hover  {
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.sidebar_title {
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar_img_container {
  cursor: pointer;
  overflow: hidden;
}

.sidebar_img_container:hover .sidebar_img {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.sidebar_img{
  transition: all 0.3s ease;

}