.services_container {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.service_title {
  /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
}
.service_desc {
  /* background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
}

.services_btn {
  background-color: white;
  color: black;
}

